* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Activa el scroll snapping en el eje Y */
.container-fluid {
  scroll-snap-type: y mandatory;
  overflow-y: scroll; /* Necesario para que el scroll funcione */
  height: 100vh; /* Para que el contenedor principal tenga el alto correcto */
  scroll-behavior: smooth; 
}

/* Cada sección se "ancla" cuando esta cerca del inicio de la vista */
section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

/* Estilos adicionales */
h1 {
  color: rgb(226, 226, 226);
  text-shadow: 1px 1px 4px #000;
}
